body {
  background-color: #13161c;
  margin: 0;
  font-family: "Bellota Text", cursive;
  padding: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none !important;
}

.main {
  top: 0px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  position: sticky;
}
.main a {
  margin-top: 20px;
  margin-right: 100px;
  float: right;
  text-decoration: none;
  color: white;
}

.section-1 {
  position: absolute;
  width: 100%;
}

.head {
  display: flex;
  padding-left: 17em;
  position: absolute;
}

.spanclass {
  display: block;
  margin-left: 20px;
  margin-top: 40%;
  text-transform: uppercase;
  font-family: "Bellota Text", cursive;
  color: white;
  font-size: 5em;
}

.solveOne {
  background-image: url("headerImage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black !important;
}

.solveThree {
  background-image: url("baseGame.JPG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.solveTwo {
  background-image: url("SpaceX.JPG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classTWo {
  margin-left: 5.9%;
}

.welcome {
  color: red;
}

.texte {
  padding-left: 12em;
  cursor: pointer;
  display: block;
  font-size: 4.5em;
  text-align: center;
  padding-top: 9.5em;
  height: 100px;
  color: white;
  transition: font-size 1.3s;
}
.texte a {
  text-transform: none;
  color: white;
}

.section-2 {
  background-color: #171b23;
  margin-top: 55%;
  width: 100%;
  height: 80em;
  color: white;
}
.section-2 h1 {
  margin-left: 40%;
  padding-top: 10%;
  font-size: 4em;
  display: block;
}

.art {
  margin-top: 5em;
  margin-left: 100px;
  width: 70%;
  cursor: pointer;
  height: 20em;
  background-color: #13161c;
}
.art__text {
  padding-top: 4em;
  font-size: 2.5em;
  padding-left: 35%;
  font-weight: bold;
  color: #c33f3f;
}

.devide {
  display: grid !important;
  width: 100%;
  height: 400px;
  grid-template-columns: auto auto auto;
}

.section-3 {
  width: 100%;
  margin-bottom: 20%;
}

.text {
  margin-left: 10%;
}

.aboutMeImg {
  margin-top: 3em;
  width: 95%;
  margin-bottom: 200px;
}

.about {
  margin-left: 10%;
  font-family: "Quicksand", sans-serif;
}
.about__text {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 3em;
}
.about__header {
  font-size: 2.5em;
}
.about__small {
  font-size: 2em;
}
.about__aboutText {
  font-family: "Bellota Text", cursive;
  width: 80%;
  font-size: 1.5em;
}

.newtxt {
  padding-top: 100px;
  text-align: center;
  font-size: 4em;
  margin-bottom: 8%;
}

.section-4 {
  margin-top: 150px;
}
.section-4 footer {
  width: 100%;
  background-color: #171b23;
  height: 43em;
}

.footinfo {
  margin-left: 20%;
  font-size: 2.5em;
}
.footinfo i {
  font-size: 0.85em;
  padding-left: 50px;
}
.footinfo h1 {
  margin-left: 25%;
  padding-top: 10%;
}
.footinfo i span {
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 320px) {
  .head {
    display: flexbox;
    margin-top: 10%;
    padding-left: 0.5em;
    flex-wrap: wrap;
  }

  .spanclass {
    font-size: 3em;
    margin-top: 10%;
    margin-left: 4%;
    animation: none;
  }
  .spanclass:hover {
    font-size: 3em;
  }

  .classTWo {
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .head {
    display: flexbox;
    margin-top: 10%;
    padding-left: 0.5em;
    flex-wrap: wrap;
  }

  .spanclass {
    font-size: 3em;
    margin-top: 10%;
    margin-left: 4%;
    animation: none;
  }
  .spanclass:hover {
    font-size: 3em;
  }

  .section-1 {
    position: static;
    max-width: 10%;
    height: auto;
  }

  .section-2 {
    height: 120em;
  }
  .section-2 h1 {
    margin-left: 10%;
  }

  .texte {
    padding-top: 7em;
    padding-bottom: 2em;
    padding-left: 2.5em;
  }

  .classTWo {
    margin-left: 25%;
  }

  .devide {
    grid-template-columns: auto;
  }

  .art {
    margin-top: 5em;
    width: 80%;
    cursor: pointer;
    height: 20em;
    margin-left: 10%;
    background-color: #13161c;
  }
  .art__text {
    font-size: 2em;
  }

  .section-4 {
    margin-top: 55em;
  }
  .section-4 footer {
    height: 20em;
  }

  .footinfo {
    margin-left: 5%;
    font-size: 1.5em;
  }
  .footinfo i {
    padding-left: 0px;
  }
  .footinfo h1 {
    margin-left: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 780px) {
  .head {
    display: flexbox;
    margin-top: 20%;
    padding-left: 10em;
    flex-wrap: wrap;
  }

  .spanclass {
    font-size: 3em;
    margin-top: 10%;
    margin-left: 6%;
    animation: none;
  }

  .classTWo {
    margin-left: 25%;
  }

  .texte {
    font-size: 5em;
    padding-top: 8.5em;
    padding-left: 4.5em;
  }
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1100px) and (orientation: landscape) {
  .head {
    font-size: 1.5em;
  }

  .texte {
    margin-left: 2em;
  }

  .art {
    width: 70%;
    height: 50em;
  }
  .art__text {
    font-size: 2em;
  }
}
@media screen and (min-device-width: 600px) and (max-device-width: 1067px) and (orientation: landscape) {
  .head {
    display: flexbox;
    padding-left: 10%;
    width: 100%;
    flex-wrap: wrap;
  }

  .spanclass {
    font-size: 3em;
    margin-top: 20%;
    margin-left: 0%;
    animation: none;
  }
  .spanclass:hover {
    font-size: 3em;
  }

  .section-1 {
    position: static;
    max-width: 10%;
    height: auto;
  }

  .section-2 {
    height: 120em;
  }
  .section-2 h1 {
    margin-left: 30%;
  }

  .texte {
    padding-top: 4em;
    padding-left: 4.5em;
  }

  .classTWo {
    margin-left: 4%;
  }

  .devide {
    grid-template-columns: auto;
  }

  .art {
    margin-top: 5em;
    width: 80%;
    cursor: pointer;
    height: 20em;
    margin-left: 10%;
    background-color: #13161c;
  }
  .art__text {
    font-size: 2em;
  }

  .section-4 {
    margin-top: 55em;
  }
  .section-4 footer {
    height: 20em;
  }

  .footinfo {
    margin-left: 5%;
    font-size: 1.5em;
  }
  .footinfo i {
    padding-left: 25%;
  }
  .footinfo h1 {
    margin-left: 30%;
  }
}
@media screen and (min-device-width: 568px) and (max-device-width: 568px) and (orientation: landscape) {
  .head {
    padding-left: 15%;
  }

  .spanclass {
    font-size: 2.5em;
    margin-top: 10%;
    margin-left: 5%;
    animation: none;
  }

  .section-1 {
    position: static;
    max-width: 10%;
    height: auto;
  }

  .section-2 {
    height: 120em;
  }
  .section-2 h1 {
    margin-left: 30%;
  }

  .texte {
    padding-top: 7.5em;
    padding-left: 4.5em;
    font-size: 3.5em;
  }

  .classTWo {
    margin-left: 25%;
  }

  .devide {
    grid-template-columns: auto;
  }

  .art {
    margin-top: 5em;
    width: 80%;
    cursor: pointer;
    height: 20em;
    margin-left: 10%;
    background-color: #13161c;
  }
  .art__text {
    font-size: 2em;
  }

  .section-4 {
    margin-top: 55em;
  }
  .section-4 footer {
    height: 20em;
  }

  .footinfo {
    margin-left: 5%;
    font-size: 1.5em;
  }
  .footinfo i {
    padding-left: 16%;
  }
  .footinfo h1 {
    margin-left: 30%;
  }
}
@media screen and (min-device-width: 300px) and (max-device-width: 328px) and (orientation: portrait) {
  .head {
    display: flexbox;
    margin-top: 10%;
    padding-left: 1em;
    flex-wrap: wrap;
  }

  .spanclass {
    font-size: 2.5em;
    margin-top: 10%;
    margin-left: 4%;
    animation: none;
  }

  .spanclass:hover {
    font-size: 3em;
  }

  .section-1 {
    position: static;
    max-width: 10%;
    height: auto;
  }

  .section-2 {
    height: 100em;
  }

  .texte {
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 2em;
  }

  .classTWo {
    margin-left: 22%;
  }

  .art {
    margin-top: 5em;
    width: 80%;
    cursor: pointer;
    height: 15em;
    margin-left: 10%;
    background-color: #13161c;
  }

  .section-4 {
    margin-top: 65em;
  }
  .section-4 footer {
    height: 20em;
  }

  .footinfo {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1200px) {
  .texte {
    padding-left: 0%;
  }

  .spanclass {
    display: block;
  }

  .footinfo {
    font-size: 2em;
  }
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1100px) and (orientation: landscape) {
  .head {
    font-size: 1.5em;
  }

  .texte {
    margin-left: 2em;
  }

  .art {
    width: 80%;
    height: 30em;
  }

  .section-4 footer {
    height: 25em;
  }

  .footinfo {
    font-size: 2em;
  }
  .footinfo h1 {
    margin-left: 30%;
    font-size: 1.8em;
  }
  .footinfo i {
    margin-top: 3%;
    padding-left: 20%;
  }

  .about {
    margin-top: -100px;
  }
  .about__aboutText {
    margin-top: 20px;
    font-size: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
