body {
  background-color: #13161c;
  margin: 0;
  font-family: "Bellota Text", cursive;
  padding: 0;
}
.main {
  top: 0px;
  height: 50px;
  position: sticky;
}
.main header {
  color: red;
}
.main li {
  color: red;
}
.main a {
  margin-top: 20px;
  margin-right: 100px;
  float: right;
  color: red;
  text-decoration: none;
  color: white;
}
.section-1 {
  margin-bottom: 32%;
}
.head {
  display: flex;
  margin-top: 20%;
  margin-left: 15%;
}
.spanclass {
  display: none;
  margin-left: 20px;
  text-transform: uppercase;
  font-family: "Bellota Text", cursive;
  color: white;
  font-size: 4.5em;
  animation: animate 0.5s;
  cursor: default;
  transition: font-size 0.5s;
}
.spanclass:hover {
  font-size: 6em;
}
.classTWo {
  margin-left: 2.9%;
}
.welcome {
  color: red;
}
@keyframes animate {
  from {
    margin-top: 5%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}
@keyframes animate2 {
  from {
    opacity: 0;
    margin-top: 15%;
  }
  to {
    margin-top: 12%;
    opacity: 1;
  }
}
.texte {
  cursor: pointer;
  animation: animate2 1s;
  display: none;
  font-size: 4.5em;
  text-align: center;
  margin-top: 12%;
  color: white;
  transition: font-size 1.3s;
}
.texte a {
  text-transform: none;
  color: white;
}
.texte:hover {
  font-size: 4.8em;
}
.section-2 {
  display: block;
  width: 100%;
  height: 950px;
  color: white;
}
.section-2 h1 {
  margin-left: 40%;
  padding-top: 10%;
  font-size: 4em;
  display: none;
  animation: easytest 3s;
}
.displaySectiontwo {
  position: absolute;
  display: block;
}
@keyframes easytest {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes easytest {
  from {
    opacity: 0;
    margin-top: 20%;
  }
  to {
    margin-top: 10%;
    opacity: 1;
  }
}
.art {
  margin-left: 200px;
  width: 10%;
  background-color: white;
  box-shadow: 0px 0px 5px solid black;
  color: red;
  flex: 1;
}
.devide {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
